doctype html
html
head
title= title
body
h1= title
p Hello, #{ip}
p You're the #{counter} visitor.

ul
    each val in [1,2,3,4,5,5]
        li = val

input(
    type = "checkbox"
    name = "hehe"
    checked
)

input(
    type="button"
    naame = "button"
)

div
    input(
    type="button"
    naame = "button"
    )